body {
    font-family: sans-serif;
    background-color: #cccccc;
}

strong {
    font-weight: bold;
    color: dimgray;
    border: groove;
    border-color: dimgray;
}


a:hover {
    background: coral;
    transition: all .5s linear 0s;
}

h1 {
    background: #cccccc;
    display: block;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-size: medium;
}

td {
    border: groove black;
    text-align: center;
    padding: 8px;
}

.category {
    border: double thick;
    padding: 10px;
}

.name {
    color: forestgreen;
    font-weight: bold;
    text-transform: uppercase;
}

#tz {
    color: limegreen;
    font-style: italic;
    font-weight: bold;
}

img {
    position: relative;
    left: 200px;
}

video {
    position: relative;
    left: 200px;
}
